<div ng-controller="loginCtrl">
<!--
    <form  >
        <fieldset>

            <div class="form-group has-success has-feedback">
              <label class="lable-text" >Email</label>
              <input
                     ng-model="userName"
                     class="form-control"
                     placeholder="Enter email">
            </div>

            <div class="form-group">
              <label class="lable-text">Password</label>
              <input type="password"
                     class="form-control"
                     placeholder="Password"
                     ng-model="password">
            </div>

            <div class="form-group">
              <label class="lable-text">Remember Me</label>
              <ui-switch
                ng-model='rememberMe'></ui-switch>
            </div>
        </fieldset>
        <hr>

        <button class="btn btn-primary btn-block" ng-click='login()'>
          Login
        </button>



    </form>
  -->
  <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  placeholder="User Name"  ng-model="userName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click='login()'>Sign in</button>
    </div>
  </div>
</form>
</div>