<div ng-controller="userDetailsCtrl" ng-init="init(activeView)" style="display: flex; " class="scrollable">
    <div class="scrollable-content col-xs-12" >
    <form class="form-horizontal " style="padding:5px: overflow-y: auto"  >
        <div class="form-group">
            <label  class="col-xs-4 control-label">Email</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="Email" ng-model="user.emails[0].emailAddress">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">Phone</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="Phone" ng-model="user.phones[0].phoneNumber">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">First Name</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="First Name" ng-model="user.firstName">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">Last Name</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="Last Name" ng-model="user.lastName">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">Address</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="address1"  ng-model="address.address1">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">City</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="City" ng-model="address.city">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">State</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="State" ng-model="address.state">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">Zip</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="Zip" ng-model="address.zip">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">Country</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="Country" ng-model="address.country">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">Date of Birth</label>
            <div class="col-xs-8">
                 <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="dateOfBirth" />
               

            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-4 control-label">Place of Birth</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  placeholder="Place of Birth" name="user.placeOfBirth">
            </div>
        </div>
         <div class="form-group">
            <label class="col-xs-4 control-label">Gender</label>
          
             <div class="btn-group col-xs-8" style="margin-top:-7px" uib-dropdown>
                  <button id="btn-append-to-body" type="button" class="btn" uib-dropdown-toggle>
                    {{child.gender == null? 'Select Gender': child.gender}}<span class="caret"></span>
                  </button>
                  <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem"><a ng-click="child.gender = 'Male'">Male</a></li>                    
                    <li role="menuitem"><a ng-click="child.gender = 'Female'">Female</a></li>
                    
                   
                  </ul>
                 
            </div>
        </div>
        <div class="form-group">
           
             <input type="text" class="form-control col-xs-10" ng-model="firstNameSearchKeyword" placeholder="Last Name, First Name" uib-typeahead="user.fullName  for user in users | limitTo:8"  typeahead-on-select="userSelected($item, $model, $label)" >


            
        </div>
       

        <div class="form-group">
           <ul class="list-group">
              <li class="list-group-item" ng-repeat =" child in relatedUsers">
               
                {{child.firstName }} {{child.lastName}}

                 <div class="btn-group pull-right" style="margin-top:-7px" uib-dropdown>
                  <button id="btn-append-to-body" type="button" class="btn" uib-dropdown-toggle>
                    {{child.userTypeId == null? 'Select Relation': child.userTypeId}}<span class="caret"></span>
                  </button>
                  <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem"><a ng-click="child.userTypeId = 1">Wife</a></li>                    
                    <li role="menuitem"><a ng-click="child.userTypeId = 2">Husband</a></li>
                    <li role="menuitem"><a ng-click="child.userTypeId = 3">Child</a></li>
                   
                  </ul>
                </div>
              </li>
             
            </ul>
        </div>
      
        <div class="form-group">
            <div class="col-xs-4 control-label pull-right">
                <button type="submit" class="btn btn-primary pull-right" ng-click="save()">Save</button>
            </div>
        </div>
    </form>
    </div>
</div>