USE [master]
GO
/****** Object:  Database [SaintsCore]    Script Date: 10/16/2015 8:42:54 PM ******/
CREATE DATABASE [SaintsCore] ON  PRIMARY 
( NAME = N'SaintsCore_tmp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MBMSSQLSERVER\MSSQL\DATA\SaintsCore_tmp.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SaintsCore_tmp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MBMSSQLSERVER\MSSQL\DATA\SaintsCore_tmp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaintsCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaintsCore]
GO
/****** Object:  StoredProcedure [dbo].[Claims_Get_ByRole]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Claims_Get_ByRole]
	@roleId int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Select c.* from Claims c
	right join [dbo].[RoleClaimMapping] rcm on rcm.claimId = c.ClaimId
	where rcm.roleId = @roleId

  


END


GO
/****** Object:  StoredProcedure [dbo].[GetCustomerIdByUserId]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[GetCustomerIdByUserId]
	@userId uniqueidentifier,
	@CustomerId uniqueidentifier output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	

	SELECT @CustomerId=  [CustomerId]     
	FROM [SBISys].[dbo].[CustomerUserMapping]
	where userid = @userId

	
END

GO
/****** Object:  StoredProcedure [dbo].[Phones_Add]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Phones_Add] 
	 @PhoneNumber nvarchar(50),
	@PhoneType nvarchar(50),
	@Description nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   INSERT INTO [dbo].[Phones]
			   ([PhoneNumber]
			   ,[PhoneType]
			   ,[Description])
		 VALUES
			   (@PhoneNumber,
				@PhoneType,
				@Description)
END


GO
/****** Object:  StoredProcedure [dbo].[Roles_Get]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[Roles_Get]
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from roles
END


GO
/****** Object:  StoredProcedure [dbo].[Session_Create]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Session_Create] 
	@UserId nvarchar(250),
	@IP nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @sessID varchar(500) = NEWID();
	
    INSERT INTO UserSession
    (SessionId, UserId, IsLogged, IsExpired, LoginDateTime, IpAddress) 
    OUTPUT @sessID
    VALUES    
    (@sessID, @UserId, N'true', N'false', SYSDATETIME(), @IP)
END


GO
/****** Object:  StoredProcedure [dbo].[Session_Edit]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Session_Edit] 
	@SessionId nvarchar(250),
	@isLogged bit = 1,
	@isExpired bit = 0
AS
BEGIN	
    UPDATE UserSession
    SET IsLogged = @isLogged,
		IsExpired = @isExpired 
    WHERE SessionId = @SessionId
END


GO
/****** Object:  StoredProcedure [dbo].[User_Add]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_Add] 
    @Id uniqueidentifier,	
	@FName nvarchar(250),
	@LName nvarchar(250),
	@MName nvarchar(50),
	@DOB date,
	@POB nvarchar(50),
	@currentUserId uniqueidentifier,		
	@AddressID uniqueidentifier,
	@Address1 nvarchar(250),
    @Address2 nvarchar(250),
    @City nvarchar(50),
	@State nvarchar(50),
    @Zip nvarchar(50),
    @Country nvarchar(50)	
AS
BEGIN
    BEGIN TRAN T1;

		INSERT INTO [dbo].[Users]
			   ([Id]
			   ,[FirstName]           
			   ,[MiddleName]
			   ,[LastName]
			   ,[DOB]
			   ,[PlaceOfBirth]
			   ,[CreateDate])
		 VALUES
			   (@Id, 
			   @FName, 
			   @MName, 
			   @LName, 
			   @DOB, 
			   @POB, 
			   SYSDATETIME())		


		INSERT INTO [dbo].[Addresses]
			   ([Id]
			   ,[Address1]
			   ,[Address2]
			   ,[City]
			   ,[State]
			   ,[Zip]
			   ,[Country])
		 VALUES
			   (@AddressID
			   ,@Address1
			   ,@Address2
			   ,@City
			   ,@State
			   ,@Zip
			   ,@Country)


		INSERT INTO [dbo].[UserAddressMapping]
			   ([UserId]
			   ,[AddressId])
		 VALUES
			   (@Id
			   ,@AddressID)

	declare @customerId as uniqueidentifier
	
	execute GetCustomerIdByUserId @currentUserId, @customerId output


	INSERT INTO [dbo].[CustomerUserMapping]
           ([CustomerId]
           ,[UserId])
     VALUES
           (@customerId
           ,@Id)





	COMMIT TRAN T1;
END


GO
/****** Object:  StoredProcedure [dbo].[User_Add_Email]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_Add_Email] 
    @Id uniqueidentifier,	
	@currentUserId uniqueidentifier,		
	@Email nvarchar(250),
	@EmailType nvarchar(50),
	@IsPrimaryEmail bit
AS
BEGIN
    BEGIN TRAN T1;
			
			INSERT INTO [dbo].[Emails]
			   ([Email]
			   ,[EmailType]
			   ,[IsPrimaryEmail])
		 VALUES
			   (@Email,
				@EmailType,
				@IsPrimaryEmail)
		
		INSERT INTO [dbo].[UsersEmailsMapping]
			   ([UserId]
			   ,[EmailId])
		 VALUES
			   (@Id
			   ,@@IDENTITY)

	COMMIT TRAN T1;
END


GO
/****** Object:  StoredProcedure [dbo].[User_Add_Occupation]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_Add_Occupation] 
    @Id uniqueidentifier,
	@currentUserId uniqueidentifier,
	@OccupationID uniqueidentifier,
	@CompnayName nvarchar(50),
	@JobTitle nvarchar(50),
	@StartDate datetime,
	@EndDate datetime,
	@IsCurrentJob bit	
AS
BEGIN
    BEGIN TRAN T1;


		INSERT INTO [dbo].[Occupations]
			   ([Id]
			   ,[CompnayName]
			   ,[JobTitle]
			   ,[StartDate]
			   ,[EndDate]
			   ,[IsCurrentJob])
		 VALUES
			   (@OccupationID
			   ,@CompnayName
			   ,@JobTitle
			   ,@StartDate
			   ,@EndDate
			   ,@IsCurrentJob)


		INSERT INTO [dbo].[UserOccupationMapping]
			   ([UserId]
			   ,[OccupationId])
		 VALUES
			   (@Id
			   ,@OccupationID)

	COMMIT TRAN T1;
END


GO
/****** Object:  StoredProcedure [dbo].[User_Add_Phone]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_Add_Phone] 
    @Id uniqueidentifier,	
	@currentUserId uniqueidentifier,		
	@PhoneNumber nvarchar(50),
	@PhoneType nvarchar(50),
	@PhoneDescription nvarchar(50)
AS
BEGIN
    BEGIN TRAN T1;
			
		INSERT INTO [dbo].[Phones]
			   ([PhoneNumber]
			   ,[PhoneType]
			   ,[PhoneDescription])
		 VALUES
			   (@PhoneNumber,
				@PhoneType,
				@PhoneDescription)


		INSERT INTO [dbo].[UsersPhoneMapping]
				   ([UserId]
				   ,[PhoneId])
		VALUES
			(@Id
			,@@IDENTITY)

	COMMIT TRAN T1;
END


GO
/****** Object:  StoredProcedure [dbo].[User_Get]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_Get] 
	@FName nvarchar(250) = null,
    @LName nvarchar(250) = null,
    @DOB date = null,
    @POB nvarchar(50)  = null,
	@Email nvarchar(250)  = null,
    @PhoneNumber nvarchar(50)  = null,
	@UserId nvarchar(50) = null
AS
BEGIN
	SET NOCOUNT ON;
	
    SELECT aspUser.Id, sysUser.FirstName, sysUser.LastName, phone.PhoneNumber, email.Email ,sysUser.DOB, 
			sysUser.PlaceOfBirth
    FROM Users sysUser
    INNER JOIN AspNetUsers aspUser ON aspUser.Id = sysUser.Id
	INNER JOIN UsersPhoneMapping userPhone ON sysUser.Id = userPhone.UserId
	INNER JOIN Phones phone ON userPhone.PhoneId = phone.Id
	INNER JOIN UsersEmailsMapping userEmail ON sysUser.Id = userEmail.UserId
	INNER JOIN Emails email ON userEmail.EmailId = email.Id
	INNER JOIN UserAddressMapping userAddress ON sysUser.Id = userAddress.UserId
	--INNER JOIN Address address ON userAddress.AddressId = address.Id
    WHERE 
	    (@FName IS NULL OR (FirstName = @FName))
	AND (@LName  IS NULL OR (LastName  = @LName ))
	AND (@DOB  IS NULL OR (DOB = @DOB ))
	AND (@POB  IS NULL OR (PlaceOfBirth = @POB ))
	AND (@Email  IS NULL OR (email.Email = @Email ))
	AND (@PhoneNumber  IS NULL OR (phone.PhoneNumber = @PhoneNumber ))
	AND (@UserId  IS NULL OR (aspUser.Id = @UserId ))
	
	OPTION (RECOMPILE) 
					   ---<<<< Use if on for SQL 2008 SP1 CU5 (10.0.2746) and later. 
					   ---<<<< The OPTION(RECOMPILE) will recompile your query, only 
					   ---<<<< the version listed will recompile it based on the current 
					   ---<<<< run time values of the local variables, which will give you
					   ---<<<< the best performance.
END


GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] NOT NULL,
	[Address1] [nvarchar](250) NOT NULL,
	[Address2] [nvarchar](250) NULL,
	[City] [nvarchar](50) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Zip] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Claims]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimId] [int] NOT NULL,
	[Name] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Config]    Script Date: 10/16/2015 8:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Value] [nvarchar](500) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Config] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CusomterConfigMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CusomterConfigMapping](
	[ConfigId] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CusomterConfigMapping] PRIMARY KEY CLUSTERED 
(
	[ConfigId] ASC,
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Address1] [nvarchar](250) NULL,
	[Address2] [nvarchar](250) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Zip] [nvarchar](50) NULL,
 CONSTRAINT [PK_Churches] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerUserMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerUserMapping](
	[CustomerId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Emails]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[EmailType] [nvarchar](50) NULL,
	[IsPrimaryEmail] [bit] NOT NULL,
 CONSTRAINT [PK_Emails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OccupationAddressMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OccupationAddressMapping](
	[OccupationId] [uniqueidentifier] NOT NULL,
	[AddressId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Occupations]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Occupations](
	[Id] [uniqueidentifier] NOT NULL,
	[CompnayName] [nvarchar](50) NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsCurrentJob] [bit] NULL,
 CONSTRAINT [PK_Occupations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phones]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[PhoneType] [nvarchar](50) NULL,
	[PhoneDescription] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhoneTypes]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneTypes](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhoneTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleClaimMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaimMapping](
	[RoleId] [int] NOT NULL,
	[ClaimId] [int] NOT NULL,
 CONSTRAINT [PK_RoleClaimMapping] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAddressMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddressMapping](
	[UserId] [uniqueidentifier] NOT NULL,
	[AddressId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserFOCMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFOCMapping](
	[UserId] [uniqueidentifier] NOT NULL,
	[FatherUserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserFOCMapping] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[FatherUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserOccupationMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOccupationMapping](
	[UserId] [uniqueidentifier] NOT NULL,
	[OccupationId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRelationshipsMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRelationshipsMapping](
	[ChildUserId] [uniqueidentifier] NULL,
	[ParentId] [uniqueidentifier] NULL,
	[UserTypeId] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRolesMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRolesMapping](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRolesMapping] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[LastName] [nvarchar](250) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[PlaceOfBirth] [nvarchar](50) NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateUserId] [uniqueidentifier] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersEmailsMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersEmailsMapping](
	[UserId] [uniqueidentifier] NOT NULL,
	[EmailId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersPhoneMapping]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersPhoneMapping](
	[UserId] [uniqueidentifier] NOT NULL,
	[PhoneId] [int] NOT NULL,
 CONSTRAINT [PK_UsersPhoneMapping] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PhoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 10/16/2015 8:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Addresses] ([Id], [Address1], [Address2], [City], [State], [Zip], [Country]) VALUES (1, N'46 Buttercup Ln.', NULL, N'South Grafton', N'MA', N'01560', N'USA')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'052e3fde-d951-4c89-8532-877c8f7138de', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4f37c8d3-9f79-49ba-9626-4d055819917a', N'User')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (1, N'd6de0fb8-2a7e-4d1b-b9cc-f3c58faef686', N'Access', N'CanGetUsers')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (2, N'd6de0fb8-2a7e-4d1b-b9cc-f3c58faef686', N'Access', N'CanEditUsers')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd6de0fb8-2a7e-4d1b-b9cc-f3c58faef686', N'052e3fde-d951-4c89-8532-877c8f7138de')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'b81f21cc-22ee-4f03-ba9b-1ac18e446a0a', NULL, 0, N'AIHA6QwxL28dSGUF5caZnZA2Vk8nJhbrqscP0n6il/5nK3TmPEEsnxsor0n/BMXw0w==', N'fcabb1a4-7eea-418e-bc8b-6832f00731af', NULL, 0, 0, NULL, 0, 0, N'minabebawy')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'd6de0fb8-2a7e-4d1b-b9cc-f3c58faef686', NULL, 0, N'ACA8XFsIQkSQrjK498iG+mwwEuhA3phmz74QMz0+eLV0JoiLqA1buIlRXfp3S5MiPA==', N'17587cfc-0064-4106-b26e-8203876d2b6c', NULL, 0, 0, NULL, 0, 0, N'mina2')
SET IDENTITY_INSERT [dbo].[Emails] ON 

INSERT [dbo].[Emails] ([Id], [Email], [EmailType], [IsPrimaryEmail]) VALUES (1, N'mina.bebawy@gmail.com', N'personal', 1)
SET IDENTITY_INSERT [dbo].[Emails] OFF
SET IDENTITY_INSERT [dbo].[Phones] ON 

INSERT [dbo].[Phones] ([Id], [PhoneNumber], [PhoneType], [PhoneDescription]) VALUES (1, N'4693949299', N'cellphone', NULL)
SET IDENTITY_INSERT [dbo].[Phones] OFF
INSERT [dbo].[UserAddressMapping] ([UserId], [AddressId]) VALUES (N'b81f21cc-22ee-4f03-ba9b-1ac18e446a0a', 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [MiddleName], [DOB], [PlaceOfBirth], [CreateUserId], [CreateDate], [UpdateUserId], [UpdateDate]) VALUES (N'57bf88e1-b8a0-4aa6-8e99-0cc3e02cd64e', N'Mina', N'Botros', N'Ackerman', CAST(N'1989-02-11' AS Date), N'Cairo, Egypt', NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [MiddleName], [DOB], [PlaceOfBirth], [CreateUserId], [CreateDate], [UpdateUserId], [UpdateDate]) VALUES (N'b81f21cc-22ee-4f03-ba9b-1ac18e446a0a', N'Mina', N'Bebawy', NULL, CAST(N'1989-02-11' AS Date), N'Cairo, Egypt', NULL, CAST(N'2015-02-28 19:00:35.670' AS DateTime), NULL, NULL)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [MiddleName], [DOB], [PlaceOfBirth], [CreateUserId], [CreateDate], [UpdateUserId], [UpdateDate]) VALUES (N'a692524f-8c4b-432b-8703-5609d09c809a', N'Michel', N'Botros', NULL, CAST(N'1989-02-11' AS Date), N'Cairo, Egypt', NULL, NULL, NULL, NULL)
INSERT [dbo].[UsersEmailsMapping] ([UserId], [EmailId]) VALUES (N'b81f21cc-22ee-4f03-ba9b-1ac18e446a0a', 1)
INSERT [dbo].[UsersPhoneMapping] ([UserId], [PhoneId]) VALUES (N'b81f21cc-22ee-4f03-ba9b-1ac18e446a0a', 1)
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([Id], [Name]) VALUES (1, N'Husband')
INSERT [dbo].[UserTypes] ([Id], [Name]) VALUES (2, N'Wife')
INSERT [dbo].[UserTypes] ([Id], [Name]) VALUES (3, N'Descendant')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/16/2015 8:42:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/16/2015 8:42:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/16/2015 8:42:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/16/2015 8:42:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/16/2015 8:42:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/16/2015 8:42:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CustomerUserMapping]  WITH CHECK ADD  CONSTRAINT [FK_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[CustomerUserMapping] CHECK CONSTRAINT [FK_CustomerId]
GO
ALTER TABLE [dbo].[CustomerUserMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CustomerUserMapping] CHECK CONSTRAINT [FK_UserId]
GO
ALTER TABLE [dbo].[UserAddressMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserAddressMapping_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserAddressMapping] CHECK CONSTRAINT [FK_UserAddressMapping_Users]
GO
ALTER TABLE [dbo].[UserOccupationMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserOccupationMapping_Occupations] FOREIGN KEY([OccupationId])
REFERENCES [dbo].[Occupations] ([Id])
GO
ALTER TABLE [dbo].[UserOccupationMapping] CHECK CONSTRAINT [FK_UserOccupationMapping_Occupations]
GO
ALTER TABLE [dbo].[UserOccupationMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserOccupationMapping_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserOccupationMapping] CHECK CONSTRAINT [FK_UserOccupationMapping_Users]
GO
ALTER TABLE [dbo].[UsersEmailsMapping]  WITH CHECK ADD  CONSTRAINT [FK_UsersEmailsMapping_Emails] FOREIGN KEY([EmailId])
REFERENCES [dbo].[Emails] ([Id])
GO
ALTER TABLE [dbo].[UsersEmailsMapping] CHECK CONSTRAINT [FK_UsersEmailsMapping_Emails]
GO
ALTER TABLE [dbo].[UsersEmailsMapping]  WITH CHECK ADD  CONSTRAINT [FK_UsersEmailsMapping_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersEmailsMapping] CHECK CONSTRAINT [FK_UsersEmailsMapping_Users]
GO
USE [master]
GO
